@keyframes focus-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      transform: translateZ(-800px);
      filter: blur(12px);
      opacity: 0;
    }

    100% {
      transform: translateZ(0);
      filter: blur(0);
      opacity: 1;
    }
}

@keyframes heartThrob {
    25% {
        transform: scale(1.15);
    }

    40% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.15);
    }

    90% {
        transform: scale(1);
    }
}

@keyframes spin{
    0%, 100% {
        transform: translate(0);
    }

    25% {
        transform: translate(160%);
    }

    50% {
        transform: translate(160%, 160%);
    }

    75% {
        transform: translate(0, 160%);
    }
}