@font-face {
    font-family: Ubuntu;
    src: url('../assets/fonts/Ubuntu-R.ttf');
}

@font-face {
    font-family: OpenSans;
    src: url('../assets/fonts/OpenSans-Regular.ttf');
}

:root {
    /* Sizes */
    --nav-size: 5.4rem;

    /* Colors */
    --back: linear-gradient(90deg, #D3CCE3 0%, #E9E4F0 100%);
    --border: #b5adc5;

    /* Fonts */
    --f-b-12-u: 600 12pt Ubuntu;

    /* Borders */
    --border-solid: .1rem solid var(--border);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: var(--back);
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-thumb {
    background-color: #b5adc5;
    border-radius: 1rem;
}

body::-webkit-scrollbar-track {
    background-color: #E9E4F0;
}