.fixed {
    position: sticky;
    top: 0;
    z-index: 1;
}

.img-shadow {
    filter: drop-shadow(0 5px 8px rgba(0, 0, 0, 0.8));
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}