.search-bar--bar {
    background-color: #f0f0f0;
    padding: 5px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .5);
}

.search-bar--bar__input {
    display: inline-block;
    border: none;
    background: #f0f0f0;
    font: 1.5rem Ubuntu;
}

.search-bar--bar__input:focus {
    outline: 0;
}

.search-bar--bar__icon {
    padding-left: 10px;
}

.search-bar--icon {
    padding: 5px;
    display: inline-block;
}

.search-bar--bar__icon,
.search-bar--icon__icon {
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}

.search-bar--icon__icon:hover {
    filter: drop-shadow(0 5px 8px rgba(0, 0, 0, 0.8));
}

.search-bar--icon__input {
    display: none;
}