.menu-modal {
    position: absolute;
    inset: var(--nav-size) 0 0;
    background: var(--back);
    background-attachment: fixed;
    border: none;
    padding: 8%;
    outline: 0;
    transition: all .3s ease 0s;
}

.menu-modal__menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .8rem;
    padding: 8%;
}

.menu-modal__menu--item {
    padding: .8rem 0;
    border-bottom: var(--border-solid);
}