.menu-modal {
    position: absolute;
    inset: var(--nav-size) 0 0;
    background: var(--back);
    background-attachment: fixed;
    border: none;
    padding: 8%;
    outline: 0;
}

.menu-modal__link {
    font: var(--f-b-12-u);
}