.card-content {
    width: 180px;
    height: 220px;
    margin: auto;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 2s;
    position: relative;
}

.card__side--back,
.card:hover {
    transform: rotateY(180deg);
}

.card__body {
    display: flex;
    justify-content: center;
    transform: translateZ(6rem);
}

.card__body,
.card__side {
    width: 100%;
    height: 100%;
}

.card__side {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 5rem;
    background: linear-gradient(225deg, #c0a0b0, #c3e1e2);
}

.card__side--back,
.card__side:hover {
    box-shadow:
        -10px 10px 30px #b5adc5,
        10px -10px 30px #84769c;
}

.card__body--name {
    align-self: flex-end;
    position: absolute;
    margin-bottom: 25px;
    font-family: Ubuntu;
    font-size: 22px;
    letter-spacing: .005em;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
}

.card__body--icon {
    width: 100px;
    height: 100px;
    align-self: stretch;
    margin-top: 25px;
}

.card__body--path {
    align-self: flex-end;
    position: absolute;
    color: #e5ddf0;
    background-color: #0075f1;
    margin-bottom: 1.3rem;
    padding: .8rem 1.8rem;
    border: none;
    border-radius: 1rem;
    outline: 0;
    cursor: pointer;
    font: var(--f-b-12-u);
    letter-spacing: .005em;
    transition: box-shadow 0.2s;
}

.card__body--path:hover {
    box-shadow:
        3px 3px 10px #0065cf,
        -3px -3px 10px #0065cf;
}

.card__body--description {
    width: 80%;
    align-self: flex-start;
    margin: 18px auto 5px;
    padding: 0 5px;
    text-align: left;
    font: 13px OpenSans;
    line-height: 22px;
}