.group {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.5rem;
}

.group--title {
    font: 500 2.8rem Ubuntu;
    letter-spacing: 0.035em;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    text-align: left;
}

.group__content {
    width: 80%;
    display: grid;
    grid-gap: 3rem 1.5rem;
    grid-auto-rows: 22rem;
    grid-template-columns:
        repeat(auto-fill, minmax(18rem, 1fr));
}