.home__header {
    height: calc(100vh - 54px);
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    gap: .3rem;
}

.home__header--logo {
    width: 44vh;
    padding-bottom: 1rem;
}

.home__header--seros,
.home__header--title {
    animation:
        focus-in-expand-fwd 1.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.home__header--seros {
    font: 400 48pt Ubuntu;
    letter-spacing: 0.045em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .5);
}

.home__header--title {
    font: 20pt Ubuntu;
    letter-spacing: 0.005em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    text-align: center;
    padding: 0 .5rem;
}

.home__groups {
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 5rem auto;
}

.home__footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    row-gap: 3rem;
    margin: 18rem auto 3rem;
}

.home__footer--text {
    color: rgb(122, 117, 117);
    font: 250 1.8rem Ubuntu;
    letter-spacing: 0.025em;
    text-align: center;
    line-height: 2.4rem;
    padding: 0 .5rem;
}

.home__footer--heart {
    width: 2.7rem;
    animation: 1.5s heartThrob infinite;
    padding: .3rem;
}