.navbar {
    height: 2.5rem;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 2.3rem;
    border-bottom: none;
    background: linear-gradient(90deg, #D3CCE3 0%, #E9E4F0 100%);
}

.navbar--border {
    border-bottom: .1rem solid #b5adc5;
}

.navbar > ul {
    list-style: none;
}

.navbar__brand {
    display: flex;
    align-items: center;
    gap: .9rem;
    margin: 0 0 1rem 2rem;
}

.navbar__brand--logo {
    width: 3.2rem;
}

.navbar__brand--brand {
    color: #111;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.045em;
    font: 600 21pt Ubuntu;
}

.navbar__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.9rem;
    margin-right: .5rem;
}

.navbar__module--item,
.navbar__link {
    display: inline-block;
}

.navbar__nav--vertical-separator {
    height: 2rem;
    border-left: .27rem solid #111;
}

.navbar__link {
    color: #111;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.045em;
    transition: all .3s ease 0s;
    font: 600 1.7rem Ubuntu;
}

.navbar__link:hover {
    color: #1119;
}

.navbar__user--login {
    color: #e5ddf0;
    background-color: #0075f1;
    border-radius: 1rem;
    padding: .8rem 1.8rem;
}

.navbar__user--login:hover {
    color: #e5ddf0;
    box-shadow:
        2px 2px 8px #0065cf,
        -2px -2px 8px #0065cf;
}

@media (max-width: 880px) {
    .navbar__nav--item:not(:nth-child(1n+4)),
    .navbar__nav--item:last-child {
        display: none;
    }
}